*{
    box-sizing: border-box;
}
body{
    background-image: url("../images/architecture-2583394_1920.jpg");
    background-size: cover;
    margin: 0;
    --bckgclr: rgb(248, 237, 235, 85%);
    --bckgclrdrk: rgb(231, 153, 133);
    --color: rgb(22, 26, 29);
}
.wrapper{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--bckgclr);
    color: var(--color);
}
a{
    color: var(--color);
    text-decoration: none;
}
header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    background-color: rgb(231, 111, 81, 60%);
}
header i{
    cursor: pointer;
}
nav a{
    cursor: pointer;
    display: block;
    color: white;
    padding: 1em;
    border-bottom: 1px solid white;
}
#menu{
    margin: 11px -18px;
    transform: translateX(-110%);
    transition: transform 0.5s;
    background-color: var(--bckgclrdrk);
    position: absolute;
}
#menu.opened{
    transform: translateX(0);
}
#nbArticles{
    display: inline-block;
    position: absolute;
    color: white;
    background-color: rgb(255, 0, 0, 80%);
    border-radius: 50%;
    border: 3px grey solid;
    text-align: center;
    margin: 0;
    width: 25px;
    font-size: 0.5em;
    top: 25px;
    right: 5px;
}
.message{
    margin: auto;
    width: 400px;
    text-align: center;
}
.message p{
    padding: 0.3em;
    border-radius: 10px;
    font-size: 1.3em;
    color: white;
}
.success{
    background-color: green;
}
.failure{
    background-color: red;
}

section{
    text-align: center;
}
form{
    width: 70%;
    text-align: right;
}
label{
    font-size: 1.3em;
}
form input{
    border:2px solid var(--bckgclrdrk);
    padding: 4px 1em;
    border-radius: 5px;
    background-color: rgb(231, 111, 81, 60%);
    color: var(--color);
    font-size: 1em;
    font-weight: bold;
}
#trash{
    position: absolute;
    right: 10px;
    top: 70px;
}
#trash button{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2em;
    color: var(--color);
}
table a{
    cursor: pointer;
    margin: 0 30px;
    font-size: 1.2em;
}
table{
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    background-color: var(--bckgclr);
    border: solid 10px var(--bckgclrdrk);
    border-collapse: collapse;
}
td, th{
    padding: 0.5em;
    border: 1px dashed var(--color);
}
th{
    padding: 0.5em 2em;
}
table p{
    margin: 0;
}