*{
    box-sizing: border-box;
}
body{
    background-image: url("../images/architecture-2583394_1920.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    --bckgclr: rgb(248, 237, 235, 85%);
    --bckgclrdark: rgb(231, 153, 133);
    --bckgclrlight: rgb(231, 111, 81, 60%);
    --color: rgb(22, 26, 29);
    --oppcolor: white;
}
body.darkmode{
    backdrop-filter: grayscale(100%);
    --bckgclr: rgba(22, 14, 90, 0.85);
    --bckgclrdark: rgb(21, 53, 93);
    --bckgclrlight: rgba(81, 91, 231, 0.6);
    --color: rgb(190, 194, 197);
    --oppcolor: rgb(39, 38, 48);
}
.wrapper{
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--bckgclr);
    color: var(--color);
}
a{
    color: var(--color);
    text-decoration: none;
}
footer{
    background-color: var(--bckgclrlight);
    position: fixed;
    bottom: 0;
    max-width: 1200px;
    width: 100%;
    padding: 0 1em;
    font-weight: 1000;
}
footer p{
    display: inline-block;
    margin: 0;
    cursor: pointer;
}
header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    background-color: var(--bckgclrlight);
}
header i{
    cursor: pointer;
}
nav a{
    cursor: pointer;
    display: block;
    color: white;
    padding: 1em;
    border-bottom: 1px solid var(--oppcolor);
}
.hidden{
    vertical-align: baseline;
    cursor: default;
    color: transparent;
    transition: color 2s;
}
.hidden:hover{
    color: inherit;
}
#menu{
    margin: 11px -18px;
    transform: translateX(-110%);
    transition: transform 0.5s;
    background-color: var(--bckgclrdark);
    position: absolute;
}
#menu.opened{
    transform: translateX(0);
}
#nbArticles{
    display: inline-block;
    position: absolute;
    color: white;
    background-color: rgb(255, 0, 0, 80%);
    border-radius: 50%;
    border: 3px grey solid;
    text-align: center;
    margin: 0;
    width: 25px;
    font-size: 0.5em;
    top: 25px;
    right: 5px;
}
figure{
    margin: 0;
    padding: 0;
}
.store{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
}
.product{
    width: 200px;
    text-align:center;
    border: 1px solid black;
    margin: 1.5em;
    background-color: var(--bckgclrlight);
}
h4{
    margin: 10px;
}
h4 a{
    font-size: 1.5em;

}
.product.full{
    width: 90%;
    padding: 2em;
}
.imgDescr{
    display: flex;
}
img{
    width: 150px;
    height: 100px;
    object-fit: contain;
}
.img.full{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.price{
    font-size: 2.5em;
    font-weight: bolder;
    margin: 10px;
}
.price a{
    padding: 5px 10px;
    font-size: 0.5em;
    background-color: var(--bckgclr);
    border-radius: 10px;
}
.message{
    margin: auto;
    width: 400px;
    text-align: center;
}
.message p{
    padding: 0.3em;
    border-radius: 10px;
    font-size: 1.3em;
    color: white;
}
.success{
    background-color: green;
}
.failure{
    background-color: red;
}

section{
    text-align: center;
}
h1{
    font-size: 2em;
}
form{
    width: 70%;
    text-align: right;
}
label{
    font-size: 1.3em;
}
form input, textarea{
    border:2px solid var(--bckgclrdark);
    padding: 4px 1em;
    border-radius: 5px;
    background-color: var(--bckgclrlight);
    color: var(--color);
    font-size: 1em;
    font-weight: bold;
}
.trash{
    position: absolute;
    left: 10px;
    bottom: 40px;
    font-size: 2em;
    color: var(--color);
}
table a{
    cursor: pointer;
    margin: 0 30px;
    font-size: 1.2em;
}
.tablecontainer{
    overflow-x: auto;
}
table{
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    background-color: var(--bckgclr);
    border: solid 10px var(--bckgclrdark);
    border-collapse: collapse;
}
td, th{
    padding: 0.5em;
    border: 1px dashed var(--color);
}
th{
    padding: 0.5em 2em;
}
table p{
    margin: 0;
}
.splitscreen{
    display: flex;
    height: 90vh;
}
.addProduct{
    flex: 1;
    border-right: solid 1px var(--bckgclrlight);
    overflow-y: scroll;
    -ms-overflow-style: none;
  scrollbar-width: none;
}
.addProduct::-webkit-scrollbar {
    display: none;
  }
.delProduct{
    flex: 1;
    border-left: solid 1px var(--bckgclrlight);
    overflow-y: scroll;
    -ms-overflow-style: none;
  scrollbar-width: none;
}
.delProduct::-webkit-scrollbar {
    display: none;
  }